<a href="https://colab.research.google.com/github/ShubhamCJagtap/Capstone_Project_1_EDA/blob/master/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/ShubhamCJagtap/Capstone_Project_1_EDA/master/Final_Dataset.csv')

In [3]:
df.head()

,Unnamed: 0,event_id,device_id,timestamp,longitude,latitude,city,state,gender,age,group,phone_brand,device_model,year,month,month_name,day_of_week,hour
0,0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.73014,Delhi,Delhi,M,35,M32-38,优米,UIMI3,2016,5,May,Saturday,22
1,194,1355198,2.973348e+18,2016-05-01 01:35:45,77.225676,28.73014,Delhi,Delhi,M,35,M32-38,优米,UIMI3,2016,5,May,Sunday,1
2,388,1630972,2.973348e+18,2016-05-03 00:07:34,77.225676,28.73014,Delhi,Delhi,M,35,M32-38,优米,UIMI3,2016,5,May,Tuesday,0
3,582,2732453,2.973348e+18,2016-05-01 06:15:59,77.225676,28.73014,Delhi,Delhi,M,35,M32-38,优米,UIMI3,2016,5,May,Sunday,6
4,776,1562542,2.973348e+18,2016-05-01 20:34:19,77.225676,28.73014,Delhi,Delhi,M,35,M32-38,优米,UIMI3,2016,5,May,Sunday,20

# Questions for EDA


1. Distribution of Users(device_id) across States.


2. Distribution of Users across Phone Brands(Consider only 10 Most used Phone Brands).


3. Distribution of Users across Gender.


4. Distribution of Users across Age Segments.


5. Distribution of Phone Brands(Consider only the 10 Most used Phone Brands) for each Age Segment, State, and Gender.


6. Distribution of Gender for each State, Age Segment and Phone Brand(Consider only the 10 Most used Phone Brands).


7. Distribution of Age Segments for each State, Gender and Phone Brand(Consider only the 10 Most used Phone Brands).



Note: While doing analysis for the above points, consider only one instance of a particular User(device_id) as a User can do multiple phone calls and considering every instance of the same User can give misleading numbers.


8. Hourly distribution of Phone Calls.


9. Plot the Users on the Map using any suitable package.